<launch>
  <master auto="start"/>

  <!-- Grasp solver server -->
  <include file="$(find manipulation_transforms)/server.launch" />

  <!-- articulate_cart -->
  <node name="articulate_cart_server" pkg="articulate_cart" type="articulate_cart_server.py"
        args="-g" respawn="false" output="screen" />

  <!-- Set up the JInvTeleop controllers -->
  <include file="$(find articulate_cart)/launch/c_jinv.launch" />

  <!-- Node to keep grippers closed to maintain rigid grasp -->
  <node pkg="articulate_cart" type="close_grippers.py" name="close_grippers" output="screen" />

</launch>
