<!-- 
Brings up the base nav stack for cart pushing
Requires:
- the map_server must have been brought up
- the cart parameters must have been loaded into the cart_pushing namespace
-->


<launch>

  <arg name="cart_name"/>

  <!-- Machine definitions -->
  <include file="$(find pr2_machine)/$(env ROBOT).machine" />

  <!-- Teleoperation so we can joystick the robot -->
  <include file="$(find pr2_navigation_teleop)/teleop.xml" />
  
  <!-- Localization -->
  <include file="$(find pr2_navigation_global)/amcl_node.xml" />

  <!-- Tilt laser control -->
  <node pkg="cart_pushing_executive" type="send_periodic_cmd.py" name="tilt_laser_trajectory" output="screen" />

  <!-- Laser filters -->
  <include file="$(find cart_pushing_executive)/launch/move_base/filters.launch" >
    <arg name="cart_name" value="$(arg cart_name)"/>
  </include>

  <!-- Move base itself -->
  <remap from="cmd_vel" to="navigation/cmd_vel"/>
  <remap from="odom" to="base_odometry/odom" />
  <include file="$(find cart_pushing_executive)/launch/move_base/move_base_sbpl.xml"/>

</launch>